torch
transformers
sentence-transformers
deepface
langchain
langchain-community
faiss-cpu
gradio
accelerate
bitsandbytes
loralib
peft
datasets
requests
pillow
numpy
openai
tf-keras
langchain-openai
opencv-python
python-dotenv